<% layout("boilerplate.ejs") -%>
<div class="container">
  <div class="backgroundDiv customheight">
          <div id="typewriter"></div>
    </div>
    <div class="contact">
        <div class="contactBox">
            <i class="fa-duotone fa-solid fa-phone fa-3x icon"></i>
            <h3>Talk to Sales</h3>
            <h3>+11482-13021</h3>
            <p class="margin">Just pick up the phone to chat with a member of our team.</p>
        </div>
        <div class="contactBox">
            <i class="fa-solid fa-rocket icon  fa-3x icon"></i>
            <h3>Contact Customer Support</h3>
            <p class="margin">Our support team is here to assist you — reach out anytime.</p>
            <button class="btn btn-danger margin">Contact Support</button>
        </div>
    </div>
    </div>
 