h1{
    text-align: center;
}
.card{
    border:none;
    margin-bottom: 2rem;
}
.card-img-top{
    width:100%;
    border-radius: 2rem;
    object-fit: cover;
}
.card-body{
    padding: 0px;
}
.card-img-top:hover{
    
}
.btnContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.navbar{
    background-color: rgb(228, 224, 224) !important;
}
.showCard img{
    background-color: pink;
     width:100%;
}

