h1{
    text-align: center;
}
h3{
    text-align: center;
}
.hover:hover{
    color: red;
    font-size: 1.1rem;;
}
.hover{
    color:black;
}
body{
    background-color:beige;
    
}
.card{
    border:none;
    margin-bottom: 2rem;
}
.card-img-top{
    width:100%;
    border-radius: 2rem;
    object-fit: cover;
}
.card-body{
    padding: 0px;
}

.btnContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.navbar{
    background-color: transparent !important;
}
.showCard img{
     width:100%;
}
.backgroundDiv {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      transition: background-image 2s ease-in-out;
      position: relative;

    }

#typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  white-space: nowrap;
  border-right: 2px solid white;
  overflow: hidden;
  animation: blinkCursor 0.75s step-end infinite;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.customheight{
   height:60vh;
   width:100%;
   border-radius: 10px;
}
.container{
     width: 100%;
     align-items: center;
}
.contact{
      height:70vh;
   width:100%; 
   display: flex;
}
.contactBox{
height: 300px;
width:40%;
margin:40px;
box-shadow: 10px 10px 20px rgba(0,0,0,0.9);
border-radius: 5px;
background-color: whitesmoke;
display: flex;
flex-direction: column;
}
.icon{
    margin-top:10px;
    margin-left:40%;
    margin-bottom: 10px;
}
.margin{
    margin:2em;
}

